  <nav class="hidden-xs-down sidebar">
    <ul class="nav nav-pills flex-column">

      <li>
        <a [routerLink]="[{outlets: {contentOutlet: 'dashboard'}}]" class="navbar-link" routerLinkActive="active">Dashboard</a>
      </li>
      <li>
        <a [routerLink]="[{outlets: {contentOutlet: 'product'}}]" class="navbar-link"  routerLinkActive="active">Produit</a>
      </li>
      <li>
        <a [routerLink]="[{outlets: {contentOutlet: 'user'}}]" class="navbar-link"  routerLinkActive="active">Utilisateur</a>
      </li>

    </ul>
  </nav>



